.modal-color1{
    background-color: rgba(235, 87, 87, 0.05)!important;
    border: 1px solid #EB5757 !important;
    border-radius: 16px !important;
}


.modal-color2{
    background-color: #FFFFFF !important;
    border: 1px solid #E7E7E7 !important;
    border-radius: 16px !important;
}